SConscript*
.vscode
.vs
.idea
site
*.o
*.txt
*.bin
__pycache__
*.h5
*.obj
*.sconsign.dblite
.ipynb_checkpoints
examples/uci-inception/.layer_q_list
examples/uci-har-rnn/.layer_q_list
examples/uci-har-rnn/result.csv
examples/keyword_spotting/evaluation.csv
examples/uci-har-rnn/weights.h
examples/uci-har-rnn/model.exe
